<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title> 1° Atividade avaliativa - FrontEnd</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/style.css">

</head>

<body>
  <div class="estrutura">

    <div class="header">
      <div class="foto-sanduiche">
        <a href="#"><img src="img/134216-512.png" alt="Menu-Hamburger">
          <p class="text-menu"">Menu</p></a>
       
      </div>

      <div class=" foto-g1">
            <img src="img/Caminho 1.svg" alt="logo-G1">
      </div>

      <div class="pesquisa">
        <input type="text" id="txtpesq" placeholder="Buscar">
        <img src="img/iconfinder_search_126577.svg" alt="Lupa de Busca">
      </div>
    </div>

  </div>

  <div class="introducao">

    <h1 class="introducao-h1">As melhores noticias de hoje</h1>

    <div></div>

  </div>

  </div>


  <footer>

  </footer>

  </div>

</body>

</html>