<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title> 1° Atividade avaliativa - FrontEnd</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="css/style.css">

</head>

<body>
  <div class="estrutura">

    <div class="header">
      <div class="foto-sanduiche">
        <a href="#"><img src="img/134216-512.png" alt="Menu-Hamburger">
          <p class="text-menu"">Menu</p></a>
      </div>

      <div class=" foto-g1">
            <img src="img/Caminho 1.svg" alt="logo-G1">
      </div>

      <div class="pesquisa">
        <input type="text" id="txtpesq" placeholder="Buscar">
        <img src="img/iconfinder_search_126577.svg" alt="Lupa de Busca">
      </div>
    </div>



    <h1 class="introducao-h1">As melhores noticias de hoje</h1>


    <div class="introducao">

      <div class="noticia-fundo">
        <p>Lucro do FGTS será<br>depositado nas constas hoje;<br>veja como fica o rendimento<br><span>- caixa libera novos saques emergenciais do FGTS; veja calendário</span></p>
      </div>

      <div class="fotos-introd">

        <div class="caminhao">
          <img src="img/homem-janela-caminhao.png" alt="Homem na janela do Caminhão">
          <p class="txt-caminhao">VÍDEO: ladrão invade caminhão pela janela para roubar carga BR-040</p>
        </div>

        <div class="ladygaga">
          <img src="img/2020-08-31t015709z-635394129-rc2poi9d1fr1-rtrmadp-3-awards-vma.png" alt="Lady Gaga">
          <p class="txt-ladygaga">FOTOS: 'festival' de máscaras de Lady Gaga rouba a cena no VMA</p>
        </div>
      </div>

    </div>

    <section id="money1">
      <div class="noticias-money">

        <div class="img-money">
          <img src="img/notas.png" alt="Notas de dinheiro">
        </div>

        <div class="news-money">
          <h4>Economia</h4>
          <p class="txt-money">Nota de R$ 200 será lançada na quarta,<br>diz Banco Central</p>
          <p class="txt-money2">Cédula terá imagem de um lobo-guará. Serão produzidas 450 milhões de unidades neste ano.</p>
          <span>Há 5 minutos em Economia</span>

        </div>
      </div>
    </section>

    <section id="money2">
      <div class="noticias-money">

        <div class="img-money">
          <img src="img/notas.png" alt="Notas de dinheiro">
        </div>

        <div class="news-money">
          <h4>Economia</h4>
          <p class="txt-money">Nota de R$ 200 será lançada na quarta,<br>diz Banco Central</p>
          <p class="txt-money2">Cédula terá imagem de um lobo-guará. Serão produzidas 450 milhões de unidades neste ano.</p>
          <span>Há 5 minutos em Economia</span>

        </div>
    </section>

    <section id="money3">
      <div class="noticias-money">

        <div class="img-money">
          <img src="img/notas.png" alt="Notas de dinheiro">
        </div>

        <div class="news-money">
          <h4>Economia</h4>
          <p class="txt-money">Nota de R$ 200 será lançada na quarta,<br>diz Banco Central</p>
          <p class="txt-money2">Cédula terá imagem de um lobo-guará. Serão produzidas 450 milhões de unidades neste ano.</p>
          <span>Há 5 minutos em Economia</span>
        </div>
      </div>
    </section>

    <div class="totalvejamais">
      <div class="veja-mais">
        <a href=""><button class="btn-vejamais">Veja Mais</a></button>
      </div>
    </div>

    <footer>

    </footer>
  </div>

</body>

</html>