body {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
.estrutura {
  max-width: 100%;
}
hr {
  width: 95%;
  background: silver;
}
/* HEADER */
.header {
  max-width: 100%;
  background: #c4170c;
  padding: 30px;
  height: 60px;
  display: flex;
  justify-content: space-between;
}
.foto-sanduiche a {
  text-decoration: none;
  font-size: 1.5em;
  position: absolute;
  margin-top: 5px;
  margin-left: 20px;
}
.text-menu {
  position: relative;
  color: white;
  top: 30px;
  margin-top: -60px;
  margin-left: 50px;
  font-size: 30px;
  line-height: 5px;
}
.foto-g1 {
  margin-left: 150px;
  align-items: center;
}
.pesquisa {
  float: right;
  margin-top: 5px;
  margin-right: 200px;
}
.pesquisa input {
  background: #8b0000;
  width: 200px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  color: white;
}
::-webkit-input-placeholder {
  color: white;
  font-size: 20px;
}
.pesquisa img {
  position: relative;
  top: 5px;
  left: 12px;
}
/* INTRODUÇÃO */
.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "noticia-fundo fotos-introd";
  margin-top: 20px;
}
.introducao-h1 {
  margin: 0px auto;
  text-align: center;
  padding-top: 30px;
}
.noticia-fundo {
  background: transparent;
  grid-area: noticia-fundo;
  display: grid;
  max-width: 100%;
  min-width: 80px;
  height: 500px;
  padding: 30px;
  margin-top: 30px;
  margin-left: 30px;
  border-style: solid;
  cursor: pointer;
}
.noticia-fundo p {
  margin-top: 150px;
  font-size: 35px;
  line-height: 30px;
  font-weight: bold;
  position: static;
  color: #8b0000;
}
.noticia-fundo span {
  font-size: 17px;
}
.fotos-introd {
  grid-area: fotos-introd;
  display: grid;
  grid-template-rows: 150px 150px;
  padding: 30px;
  display: block;
}
.caminhao {
  cursor: pointer;
}
.txt-caminhao {
  margin-top: 1px;
  margin-left: 6px;
  font-weight: bold;
}
.ladygaga {
  margin-top: 80px;
  cursor: pointer;
}
.txt-ladygaga {
  margin-top: 1px;
  margin-left: 6px;
  font-weight: bold;
}
/* GRID money */
.noticias-money {
  max-width: 100%;
  margin-top: 10px;
  padding: 60px 0;
  display: flex;
}
.img-money {
  flex: 1;
  max-width: 100%;
  margin-left: 25px;
}
.news-money {
  flex: 1;
  margin-top: -28px;
  margin-left: 30px;
  font-size: 25px;
}
.txt-money {
  color: #c4170c;
  font-size: 30px;
  font-weight: bold;
}
.txt-money2 {
  font-size: 25px;
}
.news-money span {
  color: #746565;
}
.totalvejamais {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "veja-mais";
}
.veja-mais {
  display: grid;
  grid-area: veja-mais;
  justify-content: center;
}
.btn-vejamais {
  width: 250px;
  height: 60px;
  background: #c4170c;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 5px;
}
.btn-vejamais a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
}
/* Footer */
.footer {
  background: #c4170c;
  display: flex;
  height: 190px;
}
.img2-g1 {
  align-self: flex-end;
  display: block;
  margin-left: 100px;
}
.img2-g1 a {
  text-decoration: none;
  margin-left: 10px;
  top: 30px;
  display: flex;
  align-self: center;
}
.p1-g1 {
  margin-left: 30px;
  font-size: 20px;
  color: white;
}
.img2-g1 p {
  color: white;
  font-size: 18px;
}
